body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  color: #333333;
}

a:hover {
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

.hd {
  height: 75px;
  width: 100%;
  background: #ffffff;
  padding: 0 40px;
  display: flex;
  gap: 80px;
  align-items: center;
}

.hd h1 {
  font-size: 35px;
  font-weight: bold;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.g_nav li {
  font-size: 18px;
  font-weight: 500;
  margin-right: 40px;
}

/* main visual */
.mv {
  background: url(../img/kv.png) center;
  height: 46vw;
  background-size: cover;
  position: relative;
}

.mv_box {
  position: absolute;
  background-color: #00000091;
  right: 38px;
  bottom: 40px;
  width: 388px;
  color: #ffffff;
  padding: 0 20px;
}

.mv_ttl {
  font-size: 20px;
  padding: 20px 0;
  font-weight: bold;
}

.mv_txt {
  padding-bottom: 20px;
}

main {
  max-width: 1140px;
  padding: 0 20px;
  margin: auto;
}

main section {
  margin-top: 120px;
}

main h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

main h2::after {
  content: "";
  background: #707070;
  width: 40px;
  height: 1px;
  display: block;
  margin-top: 40px;
}

.ttl_jp {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.ns_div_flex_wp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}

.ns_div_flex_wp li {
  width: calc((100% - 160px) / 3);
  /* 横幅からgap2つ分の160pxを引いた数の3分の1の幅 */
  position: relative;
  padding-bottom: 20px;
}

.ns_div_flex_wp li:not(:last-child)::after {
  content: "";
  background: #707070;
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  /* すきなところ配置するため */
  right: -40px;
  top: 0;
}

.ns_li_flex {
  display: flex;
  margin-top: 40px;
}

.ns_date {
  font-size: 14px;
  margin-bottom: 20px;
}

.ns_icon {
  color: #ffffff;
  background-color: #333333;
  font-size: 14px;
  padding: 2px 10px;
  margin-left: 10px;
}

.ab_flex_wp {
  display: flex;
  flex-wrap: wrap;
}

.ab_ltr {
  width: 40%;
}

.ab_img {
  width: 55%;
  margin-left: auto;
}

.st_flex_wp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.st_ltr {
  width: 40%;
  margin-left: auto;
}

.st_img {
  width: 55%;
}

.co_flex_wp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 120px;
}

.co_ltr {
  width: 55%;
  padding: 100px 8% 100px 6%;
  background-color: #ffffff;
}

.co_img {
  width: 50%;
  margin-left: -5%;
}

footer {
  background-color: #ffffff;
  font-size: 16px;
  height: 100px;
  padding: 39px 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .hd {
    height: 80px;
    padding: 5px 20px;
    display: block;
    height: auto;
  }

  .hd h1 {
    margin-bottom: 20px;
  }

  .flex_wrap {
    flex-wrap: nowrap;
  }

  .g_nav li {
    font-size: 16px;
    margin-right: 20px;
  }

  .mv {
    height: 173vw;
    /* width 375px,height 650pxなので、 650/375*100　でvwを計算 */
  }

  .mv_box {
    right: 20px;
    bottom: 20px;
    width: 335px;
  }

  main section {
    margin-top: 80px;
  }

  main .ns h2 {
    margin-bottom: 0;
  }

  .ns_div_flex_wp {
    gap: 0;
  }

  .ns_div_flex_wp li {
    width: auto;
    position: static;
    padding-top: 40px;
  }

  .ab_ltr {
    width: auto;
    margin-bottom: 40px;
  }

  .ab_img {
    width: auto;
    margin-left: 0;
  }

  .st_flex_wp {
    flex-direction: initial;
  }

  .st_ltr {
    width: auto;
    margin-bottom: 40px;
  }

  .st_img {
    width: auto;
  }

  .st {
    margin-bottom: 80px;
  }

  .co_ltr {
    width: auto;
    padding: 80px 20px;
  }

  .co_img {
    width: auto;
    margin-left: 0;
  }

  .co_flex_wp {
    margin-bottom: 80px;
  }
}
